ul{
    list-style-type: none;
    /* margin: 0; */
    padding: 10px 0px 0px 10px;
    overflow: hidden;
    background: black;
    /* font-family: Arial, Helvetica, sans-serif; */
    display: flex;
    height: 35px;
    gap: 12px;
    border-radius: 6px;
}
a{
    text-decoration: none;
    color: white;
}
.lang{
    margin-left: auto;
}
.lang-btn {
  background: #f1f1f1;
  color: #333;
  padding: 6px 12px;
  border-radius: 4px; 
  font-size: 13px;
  display: flex;
  align-items: center;
  gap: 6px;
  margin-right: 20px;
}